#main {
    display: flex;
    flex-direction: row;
    & #first-statitique-groupe {
        width: clamp(75%, 75%, 75%);
    }
    & #last-statitique-groupe {
        width: clamp(25%, 25%, 25%);
    }
}

#first-statitique-groupe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    & #first-chart {
        height: 82% !important;
        width: 85% !important;
    }
    & .heading {
        font-size: 1em;
        font-variant: small-caps;
    }
}

#last-statitique-groupe {
    border-left: 2px solid #051937;
    display: flex;
    flex-direction: column;
    & #first-item-for-last {
        height: 125px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding-left: 20px;
        & img, .description {
            height: 60%;
        }
        & .description {
            height: 64%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & strong {
                font-size: 1.07em;
            }
        }
    }
    & #title-for-divisions-list {
        height: 50px;
        padding-top: 20px;
        align-content: center;
        text-align: center;
        font-size: 1.7em;
        font-weight: bolder;
    }
    & #last-item-for-last {
        overflow-y: scroll;
        height: calc(100vh - 12vh - 125px - 50px);
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #ffffff;
        }
    
        &::-webkit-scrollbar-thumb {
            background: #051937;
        }
        & .card {
            display: flex;
            flex-direction: column;
            & :is(.expand, .sub-content) {
                border-bottom: 2px solid #051937;
            }
            &:first-of-type {
                border-top: 2px solid #051937;
            }
            .expand {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 14px 20px;
                & strong {
                    font-size: 1.2rem;
                }
                & button {
                    border: none;
                    outline: none;
                    background-color: #ffffff;
                }
            }
            .sub-content {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                & span {
                    font-size: 16px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
