/* The Main Content */
#main .form {
    height: 100%;
    width: 100%;
}

#container .form {
    grid-area: main;
    display: flex;
    flex-direction: column;

    & .smta {
        height: 40px;
        background-color: #051937;
    }

    & .table {
        flex-grow: 1;
    }
}

.form .smta {
    display: flex;
    align-items: center;
    justify-content: right;

    & button {
        background-color: #051937;
        cursor: pointer;
    }

    & button,
    & a {
        height: 100%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        border: none;
        font-size: 15px;
    }

    &>*:not(:first-child) {
        border-left: 1px solid #ffffff;
    }

    &>*:first-child {
        border-left: 1px solid #ffffff;
    }
}




.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    & > * {
        width: 85%;
    }
    .heading {
        font-size: 1.6em;
        text-align: center;
        display: block;
    }
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


table {
    border-collapse: collapse;
    border: 2px solid #051937;
    width: 100%;

    & td {
        border: 2px solid #051937;
    }

    & th {
        border: 2px solid #051937;
        background-color: #051937;
        color: #ffffff;
    }
}


.attention--pop-up {
    position: absolute;
    color: #051937;
    left: 50%;
    top: 8.6%;
    width: 30%;
    transform: translate(-40%, -50%);
    padding: 15px;
    background-color: #ffffff;

    & *:is(button) {
        text-decoration: none;
        outline: none;
        border: 1px solid #000000;
        padding: 0 8px;
        color: #000000;
        border-radius: 3px;
        cursor: pointer;
    }

    & a {
        color: #000000;
    }

    & i {
        margin-right: 3px;
    }

    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#om-search-form {
    border: 2px solid #051937;
    display: flex;
    column-gap: 5px;
    padding: 4px;
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    justify-content: space-between;

    & #om-inputs {
        display: flex;
        column-gap: 4px;
        flex-grow: 1;
        & input {
            border: none;
            &:focus {
                outline: none;
            }
            &[placeholder="Nom"] {
                margin-left: 55px;
                width: 285px;
            }
            &[placeholder="Email"] {
                margin-left: 22px;
                width: 305px;
            }
            &[placeholder="Numéro de Téléphone"] {
                width: 188px;
            }
        }
    }

    & #om-options {
        width: fit-content;
        display: flex;
        justify-content: right;
        column-gap: 4px;
        & button {
            padding: 2px;
        }
    }
}

table {
    & .identifiant {
        width: 3%;
        text-align: center;
    }
    & .nom-de-la-division {
        width: 20%;
    }
    & .email-de-la-division {
        width: 20%;
    }
    & .numéro-de_téléphone-de-la-division {
        width: 10%;
    }
    & .mot-de-passe-de-la-division {
        width: 13%;
    }
}

#add-pop-up {
    top: 20%;
    border: 2px solid #051937;
    width: 35%;
}

#exception-pop-up {
    width: 60%;
    top: 12%;
    transform: translate(-37%, -50%);
    border: 2px solid #051937;
    & * {
        font-size: 16px;
    }
}