/* The Main Content */
#main .form {
    height: 100%;
    width: 100%;
}

#container .form {
    grid-area: main;
    display: flex;
    flex-direction: column;

    & .smta {
        height: 40px;
        background-color: #051937;
    }

    & .table {
        flex-grow: 1;
    }
}

.form .smta {
    display: flex;
    justify-content: space-between;
    & #year-option {
        background-color: #051937;
        cursor: pointer;
        color: #ffffff;
        padding: 0 4px;
        border-right: 1px solid #ffffff;
        &,  &:focus {
            outline: none;
        }
    }

    & #non-year-options {
        display: flex;
        align-items: center;
        justify-content: right;

        & button {
            background-color: #051937;
            cursor: pointer;
        }

        & button,
        & a {
            height: 100%;
            padding: 0 15px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #ffffff;
            border: none;
            font-size: 15px;
        }

        &>*:not(:first-child) {
            border-left: 1px solid #ffffff;
        }

        &>*:first-child {
            border-left: 1px solid #ffffff;
        }
    }
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

    & > * {
        width: 85%;
        
    }
    .heading {
        font-size: 1.6em;
        text-align: center;
        display: block;
    }
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

table {
    border-collapse: collapse;
    border: 2px solid #051937;
    width: 100%;

    & td {
        border: 2px solid #051937;
    }

    & th {
        border: 2px solid #051937;
        background-color: #051937;
        color: #ffffff;
    }


    & td:where(:first-of-type) {
        text-align: center;
    }

    & td:last-of-type {
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            & a {
                color: #000000;
            }
            & hr {
                height: 20px;
            }
        }
    }

    & td:nth-child(6) {
        text-align: center;
    }
}


.attention--pop-up {
    position: absolute;
    color: #051937;
    left: 50%;
    top: 8.6%;
    width: 30%;
    transform: translate(-40%, -50%);
    padding: 15px;
    background-color: #ffffff;

    & *:is(button) {
        text-decoration: none;
        outline: none;
        border: 1px solid #000000;
        padding: 0 8px;
        color: #000000;
        border-radius: 3px;
        cursor: pointer;
    }

    & a {
        color: #000000;
    }

    display: flex;
    flex-direction: column;
    row-gap: 4px;
}


#om-search-form {
    display: flex;
    border: 2px solid #051937;
    padding: 4px;
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    & input {
        text-align: center;
        border: none;
        &::placeholder {
            text-align: center;
        }

        &:focus {
            outline: none;
        }
        &[placeholder="Émetteur"] {
            width: 11.5%;
            margin-left: 4%;
        }
        &[placeholder="Destinataire"] {
            width: 11.5%;
        }
        &[placeholder="Numéro de Courrier"] {
            width: 20%;
        }
        &[placeholder="Objet"] {
            width: calc(100% - 12.5% - 12.5% - 20% - 13% - 17.5%);
        }
        &[placeholder="Date"] {
            width: 17.5%;
        }
    }
    & button {
        padding: 2px;
        width: fit-content;
        &:last-of-type {
            margin-left: 4px;
        }
    }
}

table {
    & #identifiant {
        width: 4%;
    }
    & #émetteur {
        width: 11%;
    }
    & #destinataire {
        width: 11%;
    }
    & #numéro-de-courrier {
        width: 20%;
    }
    & #objet {
        width: calc(100% - 11% - 11% - 20% - 12% - 16%);
    }
    & #date {
        width: 14%;
    }
    & #courrier-éléctronique {
        width: 16%;
    }
}

.subject {
    white-space: nowrap;
    overflow: hidden;
    width: 10ch !important;
    max-width: 10ch !important;
    min-width: 10ch !important;
}

