:root {
    --battery-report-heading-color: #11eef4;
    --breadcrumbs-grey-divider: #cccccc;
    --breadcrumbs-grey-dividend: #999999;
    --breadcrumbs-green-last-dividend: #009578;
    --breadcrumbs-last-dividend-weight: 500;
    --breadcrumbs-arrow: '\203a';
    --error-color: #D8000C;
    --error-background-color: #FFBABA;
    --warning-color: #9F6000;
    --warning-background-color: #FEEFB3;
    --gs-background-color: #c9d6ff;
    --gs-linear-background-color: linear-gradient(to right, #e2e2e2, #c9d6ff);
    --outside-table-border-color: rgb(140 140 140);
    --inside-table-border-color: rgb(160 160 160);
    --main-background-color: #051937;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


*::before,
*,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    font-size: 17px;
}


* label:has(+:is(input, select)[required])::after {
    content: '*';
    color: red;
    padding-left: 2px;
}

* input[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

* button {
    cursor: pointer;
}

/* Container */
body #container {
    position: relative;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 12% auto;
    grid-template-areas: 
        "aside header"
        "aside main"
    ;
}

#container #header {
    grid-area: header;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column; 

    & > * {
        border-bottom: 1px solid var(--breadcrumbs-grey-divider);
        padding: 0 15px;
    }

    & #global-search-and-notifications-and-profile-and-logout {
        height: 65%;
    }
 
    & #userpath {
        flex-grow: 1;
        ul {
            display: flex;
            list-style: none;
        }
    }
}   


#header #global-search-and-notifications-and-profile-and-logout {
    display: flex;
    align-items: center;
    column-gap: 8px;

    & #global-search {
        flex-grow: 1;
    }

    & hr {
        height: 45%;
    }

}



#global-search-and-notifications-and-profile-and-logout #global-search {
    display: flex;
    align-items: center;
    column-gap: 6px;

    & input {
        flex-grow: 1;
        font-size: 15px;
        &:focus {
            outline: none;
        }
    }

    & button, & input {
        color: #ffffff;
        background-color: var(--main-background-color);
        border: 0;
    }
}

#notifications  button {
    outline: none;
    border: 0;
    background-color: var(--main-background-color);
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    width: 30px;

    & small {
        position: relative;
        bottom: 10px;
        right: 4px;
        font-size: 10px;
        font-weight: bolder;
        display: inline-block;
        width: 10px;
    }
}

#notifications #notifications-dropdown {
    border: 1px solid #ffffff;
    position: absolute;
    top: 48px;
    right: 62px;
    width: 390px;
    background-color: #051937;
    padding: 12px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    row-gap: 6px;
    max-height: 120px;
    min-height: 100px;
    height: 100px;
    border-radius: 2px;
    height: fit-content;
    overflow-y: scroll;

    & {
        &::-webkit-scrollbar {
            width: .4em;
        }
    
        &::-webkit-scrollbar-track {
            background: var(--main-background-color);
        }
        
        &::-webkit-scrollbar-thumb {
            background: #ffffff;
        }
    }
    
    & * , & * * {
        color: #ffffff;
        font-size: 15px;

    }

    & :is(a) {
        text-decoration: underline;
    }

    & ul {
        list-style: none;
        row-gap: 6px;
        display: flex;
        flex-direction: column;
    }
}


#global-search-and-notifications-and-profile-and-logout #profile-and-logout {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
    color: #ffffff;
    position: relative;

    & > button {
        border: 0;
        cursor: pointer;
        width: 20px;
    
    }

    & > * {
        background-color: var(--main-background-color);
        color: #ffffff;
    }

    & nav {
        position: absolute;
        top: 40px;
        height: 72px;
        right: -15px;
        width: 190px;
        border-bottom: 1px solid #ffffff;
        border-left: 1px solid #ffffff;
        background-color: #051937;
        padding: 8px 12px;
        padding-top: 12px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        visibility: hidden;

        & ul {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            list-style: none;
        }

        & li {
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;
            column-gap: 4px;
        
            & * {
                color: #ffffff;
            }

            &:first-child {
                a {
                    padding-left: 2px;
                }
            }
        }
    }    
}

/* The User Path */
#header #userpath {
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 2px;

    & * {
        color: #ffffff;
    }

    & li:first-of-type::after {
        content: var(--breadcrumbs-arrow);
        margin: 0 3px;
        color: var(--breadcrumbs-grey-divider);
    }

    & li:not(:last-of-type)::after {
        content: var(--breadcrumbs-arrow);
        margin: 0 4px;
    }  

    & li a[href]:hover{
        text-decoration: underline;
    }


    & ul li {
        &:not(:last-child) {
            a {
                color: grey;
            }
        }
    }

}

#container #aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: var(--main-background-color);
    border-right: 1px solid var(--breadcrumbs-grey-divider);
    justify-content: end;

    & #navbar {
        height: calc(100% - 12% + 1.5px);
        border-top: 1px solid var(--breadcrumbs-grey-divider);
    }
}   

#aside #navbar {
    display: flex;
    flex-direction: column;

    & #first-navbar {
        flex-grow: 1;
        & > li:nth-child(2) {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            & ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 27px;
                border: 2px solid #ffffff;
                border-radius: 1px;
                list-style: none;
                row-gap: 10px;
                padding: 6px;
                visibility: hidden;
    
                & li {
                    display: flex;
                    align-items: center;
                    column-gap: 4px;
                    & a {
                        font-size: 15.7px;
                    }
                }
            }
    
        }
    }

    & #last-navbar {
        height: fit-content;
        border-top: 1px solid var(--breadcrumbs-grey-divider);
    }

    & > ul {
        display: flex;
        flex-direction: column;
        padding: 15px;
        list-style: none;
        row-gap: 8px;

        & > * {
            display: flex;
            align-items: center;
            column-gap: 4px;
            
        }

        & button {
            border: 0;
            outline: none;
            background-color: var(--main-background-color);
        }

        & li, & button {
            font-size: 16px;
        }

        & button {
            cursor: pointer;
            i:first-child {
                padding-right: 4px;
            }

            i:last-child {
                padding-left: 4px;
                position: relative;
                top: 1.5px;
            }
        }
    }

}

#navbar li {
    &, & * {
        color: #ffffff;
    }
}

#navbar li.active,
#profile-and-logout-dropdown li.active {
    position: relative;
    display: flex;
}

#navbar li.active::after,
#profile-and-logout-dropdown li.active::after
{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    background-color: #ffffff;
}

#profile-and-logout-dropdown li.active::after {
    height: 2.5px;
    background-color: #ffffff;
}


#navbar li#exception-li-aside.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 69%;
    bottom: -2px;
}

#navbar li:not(#exception-li-aside) {
    width: fit-content;
}


li#exception-li-aside li.active::after {
    content: '';
    position: absolute;
    height: 2.5px;
    width: 100%;
    bottom: -2px;
}


.capitalize {
    text-transform: capitalize;
}

#empty-notifications-message {
    position: absolute; 
    display: block; 
    width: 40%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

